@page "/about"

<PageTitle>About</PageTitle>

<body>
    <div class="my-5" id="title">
        <h2 id="title">About</h2>
    </div>
    <div class="my-3" id="body">
        <h5>
            <p>
                This project is based on the final project of the course "Build web applications with Blazor" by Microsoft.
                It's made with C# (Blazor WebAssembly), HTML, CSS and hosted with Azure Static Web Apps.
            </p>
            <p>
                Developed by Vitor França. Connect with me on <a href="https://www.linkedin.com/in/vitor-monteiro-de-fran%C3%A7a/" target="_blank">Linkedin</a> and
                follow my <a href="https://github.com/VitorDeFranca" target="_blank">Github</a>.
            </p>
        </h5>
    </div>
</body>