@page "/"

<PageTitle>Index</PageTitle>

<body>
    <div class="my-5" id="title">
        <h2 id="title">Rules</h2>
    </div>
    <div id="body">
        <h5>
            <p>
                Connect Four is a classic two-player connection game developed in the 70s at United States.
                The game board is a rectangular grid with six rows and seven columns and the goal is to be the
                first to connect four of your own discs in a row. 
            </p>
            <p>
                The connection can be made horizontally, vertically, or diagonally.
                Remember the disc will always occupythe lowest available space within the selected column.
            </p>
            <p>
                Now that you're familiarized with the rules, Have fun  playing the game!
            </p>
        </h5>
    </div>
</body>
