@page "/play"
@using System.Drawing;

<PageTitle>Play</PageTitle>


<div class="background">
    <div class="card">
        <Board>

        </Board>
    </div>
</div>




@code {
    private Variant variant = Variant.Flat;
}